code_path_extra_dirs:
  - "apps/server"
  - "apps/im_proto"
apps_dirs:
  - "apps/*"
  - "lib/*"
deps_dirs:
  - "deps/*"
  - "_build/default/lib/*"
include_dirs:
  - "apps"
  - "apps/*/include"
  - "deps"
  - "deps/*/include"
  - "lib"
  - "lib/*/include"
  - "_build/default/lib"
  - "_build/default/lib/*/include"
diagnostics:
  enabled:
    - crossref
  disabled:
    - dialyzer
lenses:
  enabled:
    - ct-run-test
    - show-behaviour-usages
code_reload:
  node: demo@jerry