{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [erlfmt, rebar3_appup_plugin]}.
{erlfmt, [
    write,
    verbose,
    {print_width, 100},
    {files, ["apps/*/{src,include,test}/*.{hrl,erl,app.src}", "rebar.config"]}
]}.

{provider_hooks, [
                  {pre, [{tar, {appup, tar}}]},
                  {post, [{compile, {appup, compile}},
                          {clean, {appup, clean}}]}
                 ]}.

{shell, [
    {apps, [web]}
]}.

{ct_opts, []}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{ct_readable, true}.

{relx, [
    {release, {tiny_demo, "0.2.0"}, [
        tiny_demo,
        sasl,
        msghooks,
        web
    ]},

    {dev_mode, false},
    {include_src, false},
    {debug_info, keep},
    {include_erts, false},
    %% {mode, dev},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {relx,
            %% prod is the default mode when prod
            [
                {mode, prod},
                {debug_info, keep}
            ]}
    ]}
]}.
