{erl_opts, [{i, "./_build/default/plugins/gpb/include"}, debug_info]}.
{deps, []}.

{project_plugins, [erlfmt]}.

{plugins, [
    { rebar3_gpb_plugin, "2.22.5" }
]}.

{gpb_opts, [
    {i, "apps/im_proto/proto"},
    {f, ["im.proto"]},
    {module_name_suffix, "_pb"},
    {o_erl, "apps/im_proto/src"},
    {o_hrl, "apps/im_proto/include"},
    {strings_as_binaries, true},
    type_specs]}.

{erlfmt, [
    write,
    verbose,
    {print_width, 100},
    {files, ["apps/*/{src,include,test}/*.{hrl,erl,app.src}", "rebar.config"]}
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{shell, [
    {apps, [web]}
]}.

{ct_opts, []}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{ct_readable, true}.

{relx, [
    {release, {tiny_demo, "0.1.0"}, [
        tiny_demo,
        sasl
    ]},

    {mode, dev},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {relx,
            %% prod is the default mode when prod
            [
                %% profile is used, so does not have
                %% to be explicitly included like this
                {mode, prod}

                %% use minimal mode to exclude ERTS
                %% {mode, minimal}
            ]}
    ]}
]}.
